################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimepickerYoutube/.vs/TimepickerYoutube
/TimepickerYoutube/bin/Debug/netcoreapp3.1
/TimepickerYoutube/obj
